{
	"tabWidth": 2,
	"useTabs": false,
	"semi": true,
	"quoteProps": "as-needed",
	"singleQuote": true,
	"jsxSingleQuote": false,
	"arrowParens": "avoid",
	"printWidth": 120,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"bracketSameLine": true,
	"trailingComma": "all"
}